@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-black dark:text-white text-5xl font-bold max-[840px]:text-4xl max-[695px]:text-3xl max-[625px]:text-2xl leading-12 max-[625px]:leading-7 text-left dark:selection:bg-pink selection:bg-pink-200
  }

  h2 {
    @apply text-black dark:text-white font-bold text-4xl max-md:text-3xl max-sm:text-2xl text-left relative pl-6 mb-10 dark:selection:bg-pink selection:bg-pink-200
  }

  h2::before {
    @apply inline-block w-1 h-full bg-pink absolute left-0 top-0 content-[""]
  }

  h3 {
    @apply text-black dark:text-white font-semibold text-2xl max-md:text-xl max-sm:text-lg text-left dark:selection:bg-pink selection:bg-pink-200
  }

  h4 {
    @apply text-black dark:text-white font-semibold text-xl max-md:text-lg max-sm:text-base text-left dark:selection:bg-pink selection:bg-pink-200
  }

  h5 {
    @apply text-black-200 dark:text-gray-400 text-lg max-md:text-base max-sm:text-sm text-left dark:selection:bg-pink selection:bg-pink-200
  }

  h6 {
    @apply text-black-200 dark:text-gray-400 text-base max-sm:text-sm text-left dark:selection:bg-pink selection:bg-pink-200
  }

  section {
    @apply p-16 min-h-[400px] max-sm:p-8 dark:bg-black bg-white-300
  }

  span {
    @apply text-base text-black-200 dark:text-gray text-left dark:selection:bg-pink selection:bg-pink-200
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}