@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-white text-5xl font-bold max-sm:text-2xl text-left
  }

  h2 {
    @apply text-white text-4xl font-bold max-sm:text-xl text-left relative pl-6 mb-6
  }

  h2::before {
    @apply inline-block w-1 h-full bg-pink absolute left-0 top-0 content-[""]
  }

  h3 {
    @apply text-white font-semibold text-2xl max-sm:text-lg text-left
  }

  h4 {
    @apply text-white text-xl font-semibold max-sm:text-base text-left
  }

  h5 {
    @apply text-gray-400 text-lg max-sm:text-sm text-left
  }

  h6 {
    @apply text-gray-400 text-base max-sm:text-sm text-left
  }

  section {
    @apply p-16 min-h-[400px] max-sm:p-8
  }

  span {
    @apply text-base text-gray text-left
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}